@font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat-Black.woff2') format('woff2'),
    url('../fonts/Moderat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
  
  @font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat-Light.woff2') format('woff2'),
    url('../fonts/Moderat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html, * {
    font-family: 'Moderat', Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1,
h2,
strong,
li {
    font-weight: 900;
}

h1 {
    font-size: 110px;
    letter-spacing: -0.04em;
    line-height: 85px;
    margin-left: -5px;
    padding: 15px 0 25px;
}

h2 {
    font-size: 28px;
    line-height: 32px;
}

li {
    font-size: 22px;
}

sup {
    line-height: 0;
    font-size: 12px;
}

input {
    border: none;
    border-radius: 10px;
    max-width: 275px;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    margin: 5px 0;
    font-size: 18px;
}

input[type=submit] {
    background-color: #4561EB;
    font-weight: 700;
    color: white;
    margin-top: 28px;
    font-size: 24px;
    height: 56px;
}

.blue-text {
    color: #4561EB;
}

.container {
    max-width: 1160px;
    padding: 0 30px;
    margin: 0 auto;
    
}

.logo {
    padding: 30px 0;
}

.header-content {
    background-color: #EDEDED;
    overflow: hidden;
}

.header-left-section,
.header-right-section {
    padding: 63px 0;
}

.header-left-section {
    float: left;
    max-width: 500px;
    width: 100%;
}

.header-before-after,
.header-before-after-bar {
    width: 100%;
}

.header-before-after {
    padding: 20px 0;
}

.header-treatment-details {
    max-width: 429px;
}

.header-treatment-details-title {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

.header-treatment-details-text {
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    line-height: 18px;
}

.header-right-section {
    float: right;
    background-color: #E3E3E3;
    max-width: 471px;
    width: 100%;
}

.header-right-section-form {
    width: 276px;
    margin: 0 auto;
}

.header-form-text {
    padding: 10px 0;
}

.main-section {
    padding: 60px 0 120px;
    overflow: hidden;
}

.main-section-text,
.main-section-text2 {
    max-width: 570px;
    width: 100%;
    float: left;
}

.main-section-text h2,
.main-section-text p,
.main-section-text ul {
    padding-bottom: 50px;
}

.main-section-text ul {
    padding-left: 20px;
}

.main-section-image {
    float: right;
    max-width: 511px;
    width: 100%;
    padding-left: 10px;
}

.main-section-image img {
    width: 100%;
}

.main-section-text2 h2,
.main-section-text2 p {
    padding-bottom: 15px;
}

footer {
    padding-bottom: 50px;
}

footer p {
    max-width: 430px;
    font-size: 12px;
    line-height: 20px;
}

@media (max-width: 1151px) {
    .main-section-text,
    .main-section-text2 {
        max-width: 490px;
    }
}

@media (max-width: 1075px) {
    .header-right-section {
        max-width: 400px;
    }

    .main-section-image {
        max-width: 430px;
    }
}

@media (max-width: 990px) {
    .header-left-section,
    .header-right-section,
    .header-treatment-details {
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .header-right-section {
        max-width: none;
        width: calc(100% + 60px);
        margin-left: -30px;
    }

    .main-section-text,
    .main-section-text2,
    .main-section-image {
        float: none;
        margin: 0 auto;
        max-width: none;
    }

    .main-section-text ul {
        padding-left: 30px;
    }

    .main-section-text li {
        padding-bottom: 15px;
    }

    .main-section-image {
        width: 100%;
        max-width: 500px;
        padding-left: 0;
        padding-bottom: 50px;
    }

    .main-section-text2 {
        background-color: #F4F4F4;
        margin-left: -30px;
        padding: 60px 30px;
    }

    footer p {
        text-align: center;
        max-width: none;
    }

}

@media (max-width: 550px) {
    h1 {
        font-size: 76px;
        line-height: 64px;
    }

    .header-left-section h2,
    .main-section-text2 h2,
    li {
        font-size: 18px;
        line-height: 22px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 60px;
        line-height: 54px;
    }
}